[Unit]
Description=My Script Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/bin/sh /home/pi/Lightning_Location_System/run.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target